<div class="col-lg-6">
    <h2>List of all the Students</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Serial Number</th>

            </tr>
            </thead>
            <tbody>
            {{#each model as |student|}}
                <tr>
                    <td>{{student.name}}</td>
                    <td>{{student.groupNumber}}</td>
                    <td>{{student.serialNumber}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>




