<div class="col-lg-3"><h3>Add a new student</h3></div>

<div class="col-lg-3">
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon1" class="form-control" placeholder="First Name"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon2" class="form-control" placeholder="Last Name"
               aria-describedby="basic-addon2">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="div_special" class="form-control" placeholder="CNP"
               aria-describedby="div_special">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon3" class="form-control" placeholder="SerialNumber"
               aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" onchange={{action "changeSelect1" }} id="selectOpt1">
                    <option value="" disabled selected style="display:none;">Specialization</option>
                    <option value="Informatica">Informatica</option>
                    <option value="Matematica">Matematica</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" data-width="auto" onchange={{action "changeSelect2"}} id="selectOpt2">
                    <option value="" disabled selected style="display:none;">StudyLevel</option>
                    <option value="" disabled >Please select a specialization</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" data-width="auto" onchange={{action "changeSelect3"}} id="selectOpt3">
                    <option value="" disabled selected style="display:none;">StudyLine</option>
                    <option value="" disabled >Please select a Study Level</option>

    </select>
</div>
{{!--
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon4" class="form-control" placeholder="Specialization"
               aria-describedby="basic-addon4">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon5" class="form-control" placeholder="Study Level"
               aria-describedby="basic-addon5">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon6" class="form-control" placeholder="Study Line" aria-describedby="basic-addon6">
    </div>
--}}
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon7" class="form-control" placeholder="Semester" aria-describedby="basic-addon7">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon8" class="form-control" placeholder="Group" aria-describedby="basic-addon8">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon9" class="form-control" placeholder="username" aria-describedby="basic-addon9">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon10" class="form-control" placeholder="password" aria-describedby="basic-addon10">
    </div>

    <button {{action 'onAddStudentButtonClick'}} type="submit" class="btn btn-default">Add</button>
</div>