<div class="col-lg-3"><h3>Add a new teacher</h3></div>

<div class="col-lg-3">
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon1" class="form-control" placeholder="First Name"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon2" class="form-control" placeholder="Last Name"
               aria-describedby="basic-addon2">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon3" class="form-control" placeholder="Cnp"
               aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon4" class="form-control" placeholder="Rank"
               aria-describedby="basic-addon4">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon5" class="form-control" placeholder="Department Name"
               aria-describedby="basic-addon5">
    </div>
        <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon6" class="form-control" placeholder="Username"
               aria-describedby="basic-addon6">
    </div>
        <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon7" class="form-control" placeholder="Password"
               aria-describedby="basic-addon7">
    </div>
    <button {{action 'onAddTeacherButtonClick'}} type="submit" class="btn btn-default">Add</button>
</div>

{{outlet}}
