<div class="col-lg-3"><h3>Change the Period</h3></div>

	<div class="col-lg-3">
    <div class="input-group">
    	<select class="form-control" id="selectOpt1">
                    <option value="addOptionalDiscipline">Suggest Optional Disciplines</option>
                    <option value="approveOptionalDiscipline">Aprove Optional Disciplines</option>
                    <option value="studyContract">Complete the study Contracts</option>
    	</select>
    	<button {{action 'setToF'}} type="submit" class="btn btn-default">Set</button>
    </div>


</div>