<div class="col-lg-3"><h3>Suggest an optional discipine</h3></div>

<div class="col-lg-3">
<div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" id="basic-addon1" class="form-control" placeholder="Name"
           aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" id="basic-addon2" class="form-control" placeholder="Cod" aria-describedby="basic-addon2">
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" onchange={{action "changeSelect1" }} id="selectOpt1">
                    <option value="" disabled selected style="display:none;">Specialization</option>
                    <option value="Informatica">Informatica</option>
                    <option value="Matematica">Matematica</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" data-width="auto" onchange={{action "changeSelect2"}} id="selectOpt2">
                    <option value="" disabled selected style="display:none;">StudyLevel</option>
                    <option value="" disabled >Please select a specialization</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <select class="form-control" data-width="auto" onchange={{action "changeSelect3"}} id="selectOpt3">
                    <option value="" disabled selected style="display:none;">StudyLine</option>
                    <option value="" disabled >Please select a Study Level</option>

    </select>
</div>
{{!--
<div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon3" class="form-control" placeholder="Specialization"
               aria-describedby="basic-addon3">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon4" class="form-control" placeholder="Study Level"
               aria-describedby="basic-addon4">
    </div>
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon5" class="form-control" placeholder="Study Line" aria-describedby="basic-addon5">
    </div>
    --}}
<div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" id="basic-addon6" class="form-control" placeholder="Semester" aria-describedby="basic-addon6">
</div>
    <button {{action 'AddOptionalDiscipline'}} type="submit" class="btn btn-default">Add</button>
</div>