
<div class="col-lg-3"><h3>Statistics per year</h3></div>

<div class="col-lg-10" >
    <div class="input-group" style=" margin-left: 2cm;">
        <span class="input-group-addon" style=" margin-left: 2cm;" >@</span>
        <select class="form-control" onchange={{action "changeSelect1" }} id="selectOpt1" style="width: 4cm;">
            <option value="" disabled selected style="display:none;">Specialization</option>
            <option value="Informatica">Informatica</option>
            <option value="Matematica">Matematica</option>
        </select>
    </div>
    <div class="input-group" style=" margin-left: 2cm;">
        <span class="input-group-addon">@</span>
        <select class="form-control" data-width="auto" onchange={{action "changeSelect2"}} id="selectOpt2" style="width: 4cm">
            <option value="" disabled selected style="display:none;">StudyLevel</option>
            <option value="" disabled >Please select a specialization</option>
        </select>
    </div>
    <div class="input-group" style=" margin-left: 2cm;">
        <span class="input-group-addon">@</span>
        <select class="form-control" data-width="auto" onchange={{action "changeSelect3"}} id="selectOpt3" style="width: 4cm">
            <option value="" disabled selected style="display:none;">StudyLine</option>
            <option value="" disabled >Please select a Study Level</option>

        </select>
    </div>
    <div class="input-group" style=" margin-left: 2cm;">
        <span class="input-group-addon">@</span>
        <input type="text" id="basic-addon1" class="form-control" placeholder="Promotion" style="width: 2.5cm"
               aria-describedby="basic-addon1">
    </div>
    <button {{action 'onStatisticsButtonClick'}} type="button" class="btn btn-default" style=" margin-left: 2cm;">Show</button>

    <div class="center-block">
      {{ outlet}}
    </div>
</div >

