<div class="col-lg-6">
    <h2>List of all the Teachers</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rank</th>
                <th>Average Grade</th>

            </tr>
            </thead>
            <tbody>
            {{#each model as |teacher-grade|}}
                <tr>
                    <td>{{teacher-grade.firstName}}</td>
                    <td>{{teacher-grade.lastName}}</td>
                    <td>{{teacher-grade.rank}}</td>
                    <td>{{teacher-grade.grade}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>