<div class="col-lg-6">
    <h2>List of all the Optional Disciplines</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Teacher</th>
                <th>Department</th>
                <th>Semester</th>
                <th>Discipline Group</th>
               

            </tr>
            </thead>
            <tbody>
            {{#each model as |optional-discipline|}}
                <tr>
                    <td>{{optional-discipline.name}}</td>
                    <td>{{optional-discipline.cod}}</td>
                    <td>{{optional-discipline.teacher}}</td>
                    <td>{{optional-discipline.department}}</td>
                    <td>{{optional-discipline.semester}}</td>
                    <td><input type="text" id="disciplinegroup" name="{{optional-discipline.id}}" value="{{optional-discipline.disciplinegroup}}"
                        onblur={{action "onInputBlur"}}/> <br/></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>


{{ outlet}}
