<div class="col-lg-6">
    <h2>List of this year the Disciplines</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>code</th>
                <th>name</th>
                <th>semester</th>
                <th>lecture</th>
                <th>seminary</th>
                <th>laboratory</th>


            </tr>
            </thead>
            <tbody>
            {{#each model.disciplines as |discipline|}}
                <tr>

                    <td>{{discipline.code}}</td>
                    <td>{{discipline.name}}</td>
                    <td>{{discipline.semester}}</td>
                    <td>{{discipline.lecture}}</td>
                    <td>{{discipline.seminary}}</td>
                    <td>{{discipline.laboratory}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

  {{#if model.optionalDisciplines.length}}
      <h2>List of all the Optional Disciplines</h2>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Teacher</th>
                  <th>Department</th>
                  <th>Semester</th>
                  <th>Discipline Group</th>
                  <th>Priority</th>


              </tr>
              </thead>
              <tbody>
              {{#each model.optionalDisciplines as |optional-discipline|}}
                  <tr>
                      <td>{{optional-discipline.name}}</td>
                      <td>{{optional-discipline.cod}}</td>
                      <td>{{optional-discipline.teacher}}</td>
                      <td>{{optional-discipline.department}}</td>
                      <td>{{optional-discipline.semester}}</td>
                      <td>{{optional-discipline.disciplinegroup}}</td>
                    {{#if (lt model.year 3)}}
                        <td><input type="text" id="priority" name="{{optional-discipline.id}}"
                                   value="{{optional-discipline.priority}}"
                                   onblur={{action "onInputBlur"}}/> <br/></td>
                    {{else}}
                        <td>{{optional-discipline.priority}}  </td>
                    {{/if}}
                  </tr>
              {{/each}}
              </tbody>
          </table>
      </div>
  {{/if}}
  {{#if model.failed.length}}
      <h2>List of all the Failed Disciplines</h2>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                  <th>code</th>
                  <th>name</th>
                  <th>semester</th>
                  <th>lecture</th>
                  <th>seminary</th>
                  <th>laboratory</th>


              </tr>
              </thead>
              <tbody>
              {{#each model.failed as |discipline|}}
                  <tr>

                      <td>{{discipline.code}}</td>
                      <td>{{discipline.name}}</td>
                      <td>{{discipline.semester}}</td>
                      <td>{{discipline.lecture}}</td>
                      <td>{{discipline.seminary}}</td>
                      <td>{{discipline.laboratory}}</td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
      </div>
  {{/if}}
</div>

