<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">AppAcademic</a>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

        <!-- /.navbar-collapse -->
    </nav>


    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
              {{#link-to 'index'}}HOME{{/link-to}}
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>Problems<i
                        class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                      {{#link-to "problems.all"}}All{{/link-to}}
                    </li>
                    <li>
                      {{#link-to "problems.all"}}ADD{{/link-to}}
                    </li>
                    <li>
                      {{#link-to "problems.all"}}DELETE{{/link-to}}
                    </li>
                    <li>
                      {{#link-to "problems.all"}}UPDATE{{/link-to}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="page-wrapper">

        <div class="container-fluid">

          {{outlet}}


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

