<div class="col-lg-6" >
    <h2>List of students</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped"  >
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Cnp</th>
                <th>Serial Number</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            {{#each model as |student-grades|}}
                <tr>
                    <td>{{student-grades.firstName}}</td>
                    <td>{{student-grades.lastName}}</td>
                    <td>{{student-grades.cnp}}</td>
                    <td>{{student-grades.serialNumber}}</td>
                    <td>{{student-grades.grade}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>